html {
  background-color: #ffc200;
}

body {
  margin: 1rem;
}

header > * {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}
