html {
  background-color: #ffc200;
}

body {
  margin: 1rem;
}

header > * {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 6.5rem;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.activities-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.activity{
  flex: 1 1 200px;     
  height: 300px;       
  display: flex;       
  flex-flow: column;
  align-items: center; 
  justify-content: center;
  background-size: cover;
}

.title {
  display: block;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  background-color: rgba(0,0,0,0.6);
  color: #ffc200;
  width: 95%;
  text-align: center;
}

#road {
  background-image: url("img/road-ride.jpg");
  background-position-y: bottom;
}

#mtb {
  background-image: url("img/mtb.jpg");
  background-position-x: right;
}

#velodrome {
  background-image: url("img/velodrome.jpg");
}

#school {
  background-image: url("img/kids_riding.jpg");
}

#coffee {
  background-image: url("img/coffee-ride.jpg");
}

#locations .activities-container {
  gap: 1em;
}

#locations .activity {
  flex: 1 0 250px;     
  height: 25rem;
}

.description {
  text-align: justify;
  width: 90%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.activity .description {
  background-color: rgba(0,0,0,0.75);
  color: white;
}

#bosques {
  background-image: url("img/bosques.png");
}

#ajusco {
  background-image: url("img/ajusco.png");
}

#dinamos {
  background-image: url("img/dinamos.png");
}

#venta {
  background-image: url("img/la_venta.png");
}

#loma {
  background-image: url("img/la_loma.png");
}

#ahr {
  background-image: url("img/ahr.png");
}

#schedule .activities-container {
  gap: 1rem;
}

.day {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  text-align: center;
}

.event {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 2px solid black;
  flex: 1 1 200px;
  max-width: 35ch;
  /* min-height: 25rem; */
}

#social-sites {
  display: flex;
  flex-flow: row;
}

.img-container {
  flex: 1 1;
}

.img-container a {
  display: flex;
  width: 100%;
  justify-content: center;
} 

.img-container img {
  flex: 1 1;
  max-width: 120px;
} 
